.category-card{
    height: 17.87rem;
}

.category-card-img{
    position: relative;
}


.card-category-txt{
    position: absolute;
    bottom:1rem;
    padding:10px; 
    border-radius:64px ;
    background-color: white;
    font-size: 0.9rem;
    color:black;
}

