:root{
   --orange-color: #f7e68b;
}

.orange-bg{
    background-color: var(--orange-color);
}

.footer-ecom{
    padding:2rem;
    background-color: var(--component-secondary-color);
}

.material-icons.heart-icon{
    font-size: 0.9rem;
}

.list-style-none{
    list-style-type: none;
}

.underline{
    text-decoration: underline;
}